<div style="display: flex; flex-direction: row;">
    <div>
                <h5>Messages</h5>
                <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                  <% if (user_messages[0]) {%>
                    <% for (let i of user_messages) { %>
                    
                  <ul class="list-group">
                    <li class="list-group-item">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="display: flex; flex-direction: column; max-width: 10rem;"> 
                                <p>От: <%=i.from_user%></p>
                                <p>Для: <%=i.to_user%></p>
                                <p>
                                    <section>
                                        <%=i.content%>
                                    </section>
                                </p>
                                <form action="/sendprivate2" method="POST">
                                    <input type="hidden" name="from_user"  value="<%= i.to_user %>">
                                    <input type="hidden" name="to_user"  value="<%= i.from_user %>">
                                    <input type="hidden" name="response"  value="Sent!">
                                    <input type="hidden" name="content"  value="<%= i.content %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="text" class="form-control" id="private" name="private">
                                    <button class="btn btn-outline-secondary"
                                    style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">reply</button>
                                </form>
                            </div>
                                <a href="/private/<%=i.id%>">
                                    <img src="images/icons8-delete-67.png" alt="delete">
                                </a>
                        </div>
                    </li>
                  </ul>
              
                <% } %>
                  <% } else { %>
                    <%=response='no messages'%>
                    <%  }  %>
                </div>
            </div>
    </div>
</div> 
