<% if (!userData || userData == '') {%>
        <div></div>
    <%} else {%>
    <% for (let i of userData) {%>
<div> 
    <h2>User profile</h2>
    <div class="card" style="width: 18rem">
    <div class="card-body">
            <div  style="margin-bottom: 2px;">
                <img  class="card-img-top" src="<%=i.image%>" alt="photo">
            </div>
        <p>
        <h4 class="card-title"><%= i.name%></h4>
        </p>
        <p class="card-text"><%= i.bio%></p>
        <form action="/sendprivate" method="POST">
            <div class="mb-3">
                <input type="hidden" name="to_user"  value="<%= i.name %>">
                <input type="hidden" name="bio"  value="<%= i.bio %>">
                <label for="private" class="form-label">Send a private message:</label>
                <input style="width: 228px;" type="text" class="form-control" id="private" name="private">
                <input style="margin-top: 5px;" type="submit" value="Send">
              </div>
        </form>
    </div>

    </div>
</div>
<%}%>
<%}%>

