<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./public/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Auto seller profile</title>
</head>
<body id="body">
    <%- include('./partials/navbar2.ejs') %>
    <% if (token) { %>
    <%- include('./partials/loginbar.ejs') %>
      <% } else { %>
    <%- include('./partials/logoutbar.ejs') %>
        <% } %>
    <div class="container">
      <h1>Auto seller</h1>
     <% if (data) { %>
<div class="card" style="width: 18rem">
  <div class="card-body">
    <div>
      <div  style="border: 1px solid black; border-radius: 5px; margin-bottom: 2px;">
            <img  class="card-img-top" src='../<%=data.image%>' alt="photo">
      </div>
    </div>
    <h5>Username: <%=data.name%></h5>
    <p class="card-text">About: <%=data.bio%></p>
      <form action="/sendprivate" method="POST">
          <div class="mb-3">
              <input type="hidden" name="to_user"  value="<%= data.name %>">
              <input type="hidden" name="bio"  value="<%= data.bio %>">
              <label for="private" class="form-label">Send a message:</label>
              <input style="width: 228px;" type="text" class="form-control" id="private" name="private">
              <input style="margin-top: 5px;" type="submit" value="Send">
            </div>
      </form>
  </div>
</div>    
     <% } else if (data2) { %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <div>
            <div  style="border: 1px solid black; border-radius: 5px; margin-bottom: 2px;">
                  <img  class="card-img-top" src='../<%=data2.image%>' alt="фото">
            </div>
          </div>
          <h5>Username: <%=data2.name%></h5>
          <p class="card-text">About: <%=data2.bio%></p>
            <form action="/sendprivate" method="POST">
                <div class="mb-3">
                    <input type="hidden" name="to_user"  value="<%= data2.name %>">
                    <input type="hidden" name="bio"  value="<%= data2.bio %>">
                    <label for="private" class="form-label">Send a message:</label>
                    <input style="width: 228px;" type="text" class="form-control" id="private" name="private">
                    <input style="margin-top: 5px;" type="submit" value="Send">
                  </div>
            </form>
        </div>
      </div>    
     <%  } else { %>
      <div></div>
      <% } %>  
        <p>
            <% if (response) { %>
            <div class="alert alert-primary" role="alert">
                <%= response %>
            </div>
            <% } %>
        </p>
    </div>
</body>
</html>
